@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
body{
    background-color: aqua;
}
h1{
    margin-top: 30px;
    font-size: 70px;
    text-align: center;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
}
h2{
    font-size: 35px;
    font-family: 'Lato', sans-serif;
}
#content_inicial{
    background-color: aqua;
    margin: 0 auto;
    padding: 7.5px;
    width: 410px;
    height: 420px;   
    text-align: center;
}
#content_inicial .btn{
    display: inline-block;
}
button{
    cursor: pointer;
    padding: 9px 25px;
    border-radius: 50px;
    border: white;
    background-color: rgba(0, 136, 169, 1);
    width: 200px;
    height: 100px;
    font-size: 170%;
    font-family: 'Lato', sans-serif;
    color: aliceblue;
    margin-top: 5%;
    border: 4px solid rgba(0, 0, 0, 0.945);

}
#inputName{
    margin-top: 55%;
    margin-left: 6%;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 10%;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.945);
    text-align: center;
    background-color: gainsboro;
}
