@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    background-color: #00ceea;
}

#codigo {
    width:48px;
    border:2px solid rgba(143, 57, 0, 0.945);
	background-color: gainsboro;
    padding: 4px 6px;
    margin: 5 0 0 47.9%;
    font-size: 22px;
    border-radius: 10px;
}

h1{
    margin-top: 30px;
    font-size: 79px;
    text-align: center;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
}

#toolbar{
    align-items: center;
    margin: 0 auto;
    width: 244px;
    height: 40px;
    padding: 0 0 5;
}

button{
    cursor: pointer;
    border-radius: 50px;
    border: white;
    background-color: #0088a9;
    width: 120px;
    height: 40px;
    font-size: 120%;
    font-family: 'Lato', sans-serif;
    color: aliceblue;
    border: 2px solid rgba(0, 0, 0, 0.945);
}

button:hover{
    background-color: black;
}

#content{
    background-color: gainsboro;
    margin: 0 auto;
    padding: 7.5px;
    max-width: 380px;
    height: 380px;
    border-radius: 10px;
    border: 2px solid rgba(143, 57, 0, 0.945);
}

#content .imageContainer{
    width: 80px;
    height: 80px;
    margin: 7.5px;
    float: left;
    border-radius: 10px;
}

#content .imageContainer h1{
    color: aliceblue;
    background-color: transparent;
}

#content .imageContainer .front{
    background-color: rgba(143, 57, 0, 0.945);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#content .imageContainer .back{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#content .imageContainer .front:hover{
    width: 110%;
    height: 110%;
    cursor: pointer;
    margin: -4;
}

#msg{
    width: 600px;
    height: 300px;
    background-color: rgba(8, 119, 119, 0.911);
    position: relative;
    top: -40%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.945);
}

#mensagem{
    margin: 3% auto;
    width: 70%;
    height: 40%;
    background-color: aliceblue;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.945);
    background-color: gainsboro;
    text-align: center;
}

#msg #b{
    margin: 0 auto;
    margin-top:15%;

}

#erros{
    text-align: center;
}

@media screen and (max-width: 1070px){
    h1{
        font-size: 800%;
    }
    #toolbar{
        width: 50%;
        height: 6%;
        font-size: 230%;
    }
    button{
        width: 49%;
        height: 100%;
    }
    #content{
        margin: 1% auto;
        max-width: 800px;
        height: 800px;
    }
    #content .imageContainer{
        background-color: darkblue;
        width: 185px;
        height: 185px;
        margin: 7.5px;
        float: left;
        border-radius: 10px;
    }
    #codigo {
        width:14.5%;
        padding: 8 11;
        margin: 5 0 0 41.5%;
        font-size: 380%;
    }
    #msg{
        width: 90%;
        height: 30%;
        text-align: center;
    }
    #mensagem{
        margin: 3% auto;
        width: 85%;
        height: 50%;
    }
    #msg #b{
        width: 40%;
        height: 20%;
        margin: 10%;
        font-size: 300%;
    }
    #msg h2{
        font-size: 380%;
    }
    h2{
        font-size: 400%;
    }
}