@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    background-color: aqua;
}


h1{
    margin-top: 30px;
    font-size: 70px;
    text-align: center;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
}
#toolbar{
    align-items: center;
    margin: 0 auto;
    width: 244px;
    height: 40px;
    padding: 0 0 5;
}

#content{
    background-color: gainsboro;
    margin: 0 auto;
    padding: 7.5px;
    max-width: 380px;
    height: 380px;
    border-radius: 10px;
    border: 2px solid rgba(143, 57, 0, 0.945);
}
button{
    cursor: pointer;
    border-radius: 50px;
    border: white;
    background-color: rgba(0, 136, 169, 1);
    width: 120px;
    height: 40px;
    font-size: 120%;
    font-family: 'Lato', sans-serif;
    color: aliceblue;
    border: 2px solid rgba(0, 0, 0, 0.945);

}
#content .imageContainer{
    width: 80px;
    height: 80px;
    margin: 7.5px;
    float: left;
}

#content .imageContainer h1{
    color: aliceblue;
    background-color: transparent;
}

#content .imageContainer .front{
    background-color: rgba(143, 57, 0, 0.945);
    width: 100%;
    height: 100%;
}

#content .imageContainer .back{
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#msg{
    width: 600px;
    height: 300px;
    background-color: rgba(8, 119, 119, 0.911);
    position: relative;
    top: -40%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.945);
}
#mensagem{
    margin: 3% auto;
    width: 70%;
    height: 40%;
    background-color: aliceblue;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.945);
    background-color: gainsboro;
    text-align: center;
}

#msg #b{
    margin: 0 auto;
    margin-top:15%;

}
#erros{
    text-align: center;
}